<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058942893665-p5e6j9fc343kj6lp23nr54gkvsj2tt5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058942893665-p5e6j9fc343kj6lp23nr54gkvsj2tt5t</string>
	<key>API_KEY</key>
	<string>AIzaSyA9qrY-opjOXCGvAjPf1LtRQl-lvVIeYY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1058942893665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kartal.E-commerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-d445c</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-d445c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058942893665:ios:678854f42390274f653420</string>
</dict>
</plist>